.section {
  width: 100%;
  min-height: 100vh;
  background: $color-primary;
}

.wrapper {
  display: flex;
  max-width: 1520px;
  padding: 90px 0 180px 0;
  margin: 0 auto;
  background:
    url('images/pages/features/background/shape-left.svg') no-repeat 40px 60px,
    url('images/pages/features/background/shape-right.svg') no-repeat right 60px;
}

.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(480px + 270px);
  padding: 0 270px 0 0;
  margin-left: 223px;
}
