// Colors
$color-primary: #0f0449;
$color-secondary: #fff;
$color-tertiary: #5c5c8a;

$color-accent-primary: #f20d59;
$color-accent-secondary: #330df2;

$color-primary-hover: '';
$color-accent-primary-hover: '';
$color-accent-secondary-hover: '';

// Fonts
$font-family-primary: 'Playfair Display';
$font-family-secondary: 'Gotham';

$font-size-base: 16px;
$line-height-base: 21px;

$font-size-xxl: '';
$line-height-xxl: '';

$font-size-xl: 50px;
$line-height-xl: 60px;

$font-size-lg: 20px;
$line-height-lg: 26px;

$font-size-md: '';
$line-height-md: '';

$font-size-sm: '';
$line-height-sm: '';

$font-size-xs: '';
$line-height-xs: '';

// Animate
$transition-base: 0.2s;

// Breakpoints
$breakpoint-lg-down: 1330px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 414px - 0.02px;
