@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.feature-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 480px;
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  color: $color-text-primary;
}

.description {
  margin: 0;
  margin-bottom: 45px;
  font-family: $font-family-secondary;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  color: $color-text-secondary;
}

.image-wrapper {
  position: relative;
  width: 480px;
  overflow: visible;
  box-shadow:
    0 5px 5px rgba(8, 28, 69, 0.05),
    0 5px 20px rgba(8, 28, 69, 0.05),
    0 10px 10px rgba(8, 28, 69, 0.05);

  & img {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
  }

  &::before {
    position: absolute;
    z-index: 1;
    width: 145px;
    height: 145px;
    content: '';
    background: url('images/pages/features/background/dot-pattern.svg') no-repeat;
    background-size: cover;
  }

  &--dots-top::before {
    top: -28px;
    right: -58px;
  }

  &--dots-bottom::before {
    bottom: -25px;
    left: -48px;
  }
}
